{% extends "basic_restrict.html" %}

{% block content %}
<div id="content">
    <div class="container" style="text-align: justify;">
        <div style="padding-bottom: 10px;">
            <p class="h1">Sobre Nós<br /></p>
        </div>
        <div class="row">
            <div class="col-7">
                <p class="h3">Importância do IDQBRN</p>
                <p class="p2">
                    Ao longo da história, a comunidade internacional vem assistindo ao surgimento ou agravamento de
                    doenças e epidemias em diversas partes do mundo, algumas relacionadas com atividades humanas de
                    risco
                    e manuseio de elementos perigosos ou à falta de cuidado com o manejo ambiental
                    <br /><br />Diante deste cenário, o Exército Brasileiro (EB) vem, sistematicamente, conduzindo ações
                    para dotar sua estrutura com pessoal capacitado, equipamentos especializados e instalações para
                    possibilitar ações preventivas ou corretivas no caso de incidentes desencadeados por agentes
                    biológicos.
                    <br /><br />Atualmente, o Exército conta com laboratórios fixos e móveis que possuem a capacidade de
                    identificar agentes biológicos ou cooperar com agências nacionais e internacionais, assim como
                    frações
                    dotadas de equipamentos para identificar e descontaminar materiais viabilizando a proteção perante
                    uma
                    possível ameaça.
                    <br /><br />Nessa perspectiva, conclui-se que o IDQBRN do EB atua em diversas áreas operacionais e
                    científicas,
                    com o objetivo de prevenir ou minimizar consequências de sinistros envolvendo agentes biológicos e,
                    desta forma,
                    contribuir para o esforço nacional nas atividades de defesa externa e da sociedade.
                </p>
            </div>
            <div class="col">
                <p class="h3">Oração do Guerreiro QBRN</p>
                <p class="p2">
                    Senhor!
                    <br />Vós que criastes o guerreiro QBRN
                    <br />Com garra e astúcia de quem luta pela paz
                    <br />Permita que ela seja alcançada
                    <br />Vós que possui grande sabedoria
                    <br />E que conheces o ambiente hostil e contaminado
                    <br />Ambiente que cultiva a semente da morte e da dor
                    <br />Onde nada, nem ninguém sobrevive
                    <br />Onde somente nós sabemos operar
                    <br />Nos dê agora a certeza da vitória
                    <br />Permita também, Senhor
                    <br />Que nunca falte um guerreiro QBRN
                    <br />Com armamento, equipamento e proteção especiais
                    <br />Pronto para em qualquer ambiente operar
                    <br />Para que alcancemos a vitória final
                    <br />QBRN!
                    <br />BRASIL!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}