{% extends "basic_restrict.html" %}

{% block content %}
<div id="content">
<div class="container" style="text-align: justify;">
<div style="padding-bottom: 10px;">
    <p class="h1">Sobre Nós<br/></p>
</div>
<div class="row">
    <div class="col-7">
    <p class="h3">História do 1º Btl DQBRN</p>
    <p class="p2">
        O 1º Batalhão de Defesa Química, Biológica, Radiológica e Nuclear (1º Btl DQBRN) originou-se na transformação da então Companhia de Defesa Química, Biológica e Nuclear (Cia DQBN) no ano 2012, como parte da reestruturação da Força Terrestre face à evolução mundial do enfrentamento aos conflitos bélicos, com a presença do perigo QBRN.
        <br/><br/>O 1º Btl DQBRN se destaca como a principal unidade operativa do Sistema de DQBRN do Exército Brasileiro e seus integrantes são capacitados em ações destinadas a devolver o poder de combate à tropa que tenha sofrido com a exposição à agentes QBRN de guerra principalmente, atuando no reconhecimento de áreas, identificação e descontaminação de materiais, locais e pessoal.
        <br/><br/>A origem do 1º Batalhão de Defesa Química, Biológica, Radiológica e Nuclear (1º Btl DQBRN) remonta ao ano de 1953, quando foi criada a Companhia Escola de Guerra Química (Cia Es GQ), originalmente subordinada ao Grupamento de Unidades-Escola (GUEs), ocupando as dependências da Escola de Instrução Especializada (EsIE), sediada na cidade do Rio de Janeiro (RJ).
        <br/><br/>Em 31 de dezembro de 1987, a Cia Es GQ foi extinta e, em seu lugar, foi criada a Companhia de Defesa Química, Biológica e Nuclear (Cia DQBN), subordinada à Diretoria de Especialização e Extensão, permanecendo nas instalações da EsIE. Em janeiro de 2004, a Companhia foi brevemente subordinada à Brigada de Operações Especiais, mas rapidamente voltou à subordinação anterior.
        <br/><br/>Por meio da portaria n° 991, de 27 de novembro de 2012, o Comandante do Exército, no uso de suas atribuições resolveu transformar, a contar de 1° de dezembro de 2012, a Cia DQBN em 1° Btl DQBRN, ainda na EsIE e subordinado à 1ª Divisão de Exército. Por fim, em 1º de abril de 2020, a subordinação do Batalhão foi transferida para o Comando Militar do Leste, o que se mantém até o presente momento.
    </p>
    </div>
    <div class="col">
    <p class="h3">Oração do Guerreiro QBRN</p>
    <p class="p2">
        Senhor! 
        <br/>Vós que criastes o guerreiro QBRN
        <br/>Com garra e astúcia de quem luta pela paz
        <br/>Permita que ela seja alcançada
        <br/>Vós que possui grande sabedoria
        <br/>E que conheces o ambiente hostil e contaminado
        <br/>Ambiente que cultiva a semente da morte e da dor
        <br/>Onde nada, nem ninguém sobrevive
        <br/>Onde somente nós sabemos operar
        <br/>Nos dê agora a certeza da vitória
        <br/>Permita também, Senhor
        <br/>Que nunca falte um guerreiro QBRN
        <br/>Com armamento, equipamento e proteção especiais
        <br/>Pronto para em qualquer ambiente operar
        <br/>Para que alcancemos a vitória final
        <br/>QBRN!
        <br/>BRASIL!
    </p>
    </div>
</div>
</div>
</div>
{% endblock %}