{% extends "basic_admin.html" %}

{% block content %}
<div id="content">
<div class="container">
    <div class="row"  style="padding-bottom: 10px;">
        <div class="col">
            <p class="h1">Área de Usuário<br/></p>
            <p class="h2">Bem vinda, {{myUser.nomeguerra}}<br/></p>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="h4">Dados Pessoais 
          <button type="button" id="userEdit" class="btn btn-light">
            <i class="fas fa-edit" id="user_edit"></i>
          </button>
        </p>
        <p class="p2">
          {{myUser.posto}} <b>{{myUser.nomeguerra}}</b>
          <br/><b>Nome Completo:</b> {{myUser.nome}}
          <br/><b>Email:</b> {{myUser.email}}
        </p>
      </div>
      <div class="col">
        <p class="h4">Dados Profissionais 
          <button type="button" id="userEdit" class="btn btn-light">
            <i class="fas fa-edit" id="user_edit"></i>
          </button>
        </p>
        <p class="p2">
          <br/><b>Posto/Graduação:</b> {{myUser.posto}}
          <br/><b>Organização Militar:</b> {{myUser.om}}
        </p>
      </div>
      <div class="col">
        <p class="h5">Gerenciar Usuários 
          <button type="button" id="userEdit" class="btn btn-light">
            <i class="fas fa-external-link-alt"></i>
          </button></p>
        <p class="h5">Suporte do Sistema 
          <button type="button" id="userEdit" class="btn btn-light">
            <i class="fas fa-external-link-alt"></i>
          </button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}