{% extends "basic_restrict.html" %}
{% block content %}
<div id="content">
<div class="container-fluid" style="text-align: justify;">
    <div style="padding-bottom: 10px;">
      <p class="h1">Mapeamento de Infecções<br/></p>
      <p class="p2">
        Baseado nas notificações do Ministério da Saúde, o Instituto de Defesa Química, Biológica, Radiológica e Nuclear (IDQBRN)
        disponibliza uma visualização mapeada da incidência de diferentes doenças nas cidades brasileiras.
      </p>
    </div>
    <div id="map" class="map">
        <div id="popup" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
          <div id="popup-content"></div>
        </div>
    </div>
  </div>
  
  <script type="text/javascript">
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([-53.1729, -17.9068]),
        zoom: 4
      })
    });
  
  
    myStyle = new ol.style.Style({
      image: new ol.style.Circle({
          radius: 12,
          fill: new ol.style.Fill({color: 'red'}),
          stroke: new ol.style.Stroke({
              color: [255,255,255], width: 1
          })
      })
  })
    var coord = [{lat:-22.9068,long:-43.1729,municipio:"Rio de Janeiro",doencas:[{nome:"Dengue",casosTotais:50},{nome:"COVID",casosTotais:120},{nome:"Chicungunha",casosTotais:324}]},{lat:-3.4168,long:-65.8561,municipio:"Apuí",doencas:[{nome:"Chicungunha",casosTotais:100}]}];
    var list_features = [];
    for (let i=0;i<coord.length;i++){
      list_features.push(new ol.Feature({
                  geometry: new ol.geom.Point(ol.proj.fromLonLat([coord[i]["long"], coord[i]["lat"]]))
              }));
    }
    var layer = new ol.layer.Vector({
      source: new ol.source.Vector({
          features: list_features
      }),
          style: myStyle
    });
    map.addLayer(layer);
  
  
    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');
  
    var overlay = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });
    map.addOverlay(overlay);

    closer.onclick = function() {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
    };
  
    map.on('singleclick', function (event) {
    if (map.hasFeatureAtPixel(event.pixel) === true) {
        var coordinate = event.coordinate;
        
        var lonlat = ol.proj.transform(map.getFeaturesAtPixel(event.pixel)[0].getGeometry().getCoordinates(),'EPSG:3857', 'EPSG:4326')
        var point_long = lonlat[0];
        var point_lat = lonlat[1];
        
        //procurar pelo municipio:
  
        for (let i=0;i<coord.length;i++){
          if(coord[i]['long'] == point_long){
            var position = i;
          }
        }

        var tablerows='';
        for(let i =0;i<coord[position]["doencas"].length;i++){
          var nome = coord[position]["doencas"][i]["nome"];
          var casosTotais= coord[position]["doencas"][i]["casosTotais"];
          tablerows+="<tr> <th scope='row'>"+nome+"</th>"
            +"<td>"+casosTotais+"</td>"
            +"<td>"+coord[position]['municipio']+"</td> </tr>";
        }

        content.innerHTML = `<table class="table tabl-3.4168e-light">
        <thead> 
          <tr>
            <th scope="col">Doença</th>
            <th scope="col">Casos Totais</th>
            <th scope="col">Municipio</th>
          </tr>
        </thead>
        <tbody>`
          +tablerows+`
        </tbody>
        </table>`;
          

      //content.innerHTML = coord[position]["municipio"];

      overlay.setPosition(coordinate);
    } else {
        overlay.setPosition(undefined);
        closer.blur();
    }
  });
  </script>
</div>
{% endblock %}