<div class="container" style="text-align: justify;">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-2 p-md-5">
                    <p class="h1">Entre em contato<br/></p>
                    <p class="p2">
                        Preencha o formulário abaixo para dúvidas, sugestões e suporte técnico.
                    </p>
                    <form>                        
                        <input type="text" id="name" class="form-control" />
                        <label class="form-label" for="name">Nome</label>
                        <input type="email" id="emailAddress" class="form-control" />
                        <label class="form-label" for="emailAddress">Email</label>
                        <textarea id="texto" class="form-control"></textarea>
                        <label class="form-label" for="userText">Digite sua dúvida</label>                    
                        <div class="row justify-content-md-end">
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Enviar Pergunta" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

