<div class="container">
    <div style="padding-bottom: 10px; text-align:left;">
        <p class="h1">Descrição das Doenças<br/></p>
        <p class="p2">
            Digite aqui uma doença que gostaria de procurar: 
        </p>
    </div>
    <input type="text" placeholder="Nome da doença" class="form-control form-control-lg" style="justify-content: center; "
    id="disease-name-card">
    <br>
    <div class="overflow-auto">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top card-disease-image" src="../images/dengue_card.png">
                <div class="card-body">
                    <h5 class="card-title">Dengue</h5>
                    <p class="card-text">Essa é uma doença transmitida por um mosquito que se reproduz em água parada.
                        A variante hemorrágica tem alta mortalidade.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <button type="button" class="btn btn-light" data-toggle="modal" href="edit_disease.html"
                            data-target="#edit_disease">
                            Editar descrição
                        </button>
                    </small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top card-disease-image" src="../images/chagas_card.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Doença de Chagas</h5>
                    <p class="card-text">Essa é uma doença transmitida por um inseto conhecido como barbeiro. Ele pica as
                        vítimas e seus excrementos, usualmente depositados ao lado da picada, transmitem a doença.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button type="button" class="btn btn-light" data-toggle="modal" href="edit_disease.html"
                        data-target="#edit_disease_chagas">
                        Editar descrição
                    </button>
                </small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top card-disease-image" src="../images/coqueluche_card.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Coqueluche</h5>
                    <p class="card-text">A coqueluche é uma doença que pode se parecer muito com a gripe comum,
                        porém, é facilmente identificada porque apresenta uma característica própria diferente: a tosse.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button type="button" class="btn btn-light" data-toggle="modal" href="edit_disease.html"
                        data-target="#edit_disease_coqueluche">
                        Editar descrição
                    </button>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <!-- precisa fazer um negocio com javascript para importar de outro arquivo (o que será feito futuramente), alem de usar um modal base
        cuja carga dos campos é feito baseado no documento que foi clicado, em vez de existir um para cada um -->
        <div class="modal fade" id="edit_disease" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar doença</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Dengue</label>
                            <br>
                            <img class="modal-disease-image" src="../images/dengue_card.png">
                            <br>
                            <button type="button" class="btn btn-info">Escolher Nova Imagem</button>
                        </div>
                        <!-- <div class="form-group">
                            <label for="message-text" class="col-form-label">Nome</label>
                            <textarea class="form-control modal-text-input" id="message-text">Dengue</textarea>
                        </div> -->
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Descrição</label>
                            <textarea class="form-control modal-text-input"
                            id="message-text">Essa é uma doença transmitida por um mosquito que se reproduz em água parada.
                            A variante hemorrágica tem alta mortalidade.</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Voltar</button>
                    <!-- <button type="button" class="btn btn-danger">Remover</button> -->
                    <button type="button" class="btn btn-success">Atualizar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_disease_chagas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar doença</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Doença de Chagas</label>
                            <br>
                            <img class="modal-disease-image" src="../images/chagas_card.png">
                            <br>
                            <button type="button" class="btn btn-info">Escolher Nova Imagem</button>
                        </div>
                        <!-- <div class="form-group">
                            <label for="message-text" class="col-form-label">Nome</label>
                            <textarea class="form-control modal-text-input" id="message-text">Dengue</textarea>
                        </div> -->
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Descrição</label>
                            <textarea class="form-control modal-text-input"
                            id="message-text">Essa é uma doença transmitida por um inseto conhecido como barbeiro. Ele pica as
                            vítimas e seus excrementos, usualmente depositados ao lado da picada, transmitem a doença.
                        </textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Voltar</button>
                <!-- <button type="button" class="btn btn-danger">Remover</button> -->
                <button type="button" class="btn btn-success">Atualizar</button>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="edit_disease_coqueluche" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar doença</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Coqueluche</label>
                            <br>
                            <img class="modal-disease-image" src="../images/coqueluche_card.png">
                            <br>
                            <button type="button" class="btn btn-info">Escolher Nova Imagem</button>
                        </div>
                        <!-- <div class="form-group">
                            <label for="message-text" class="col-form-label">Nome</label>
                            <textarea class="form-control modal-text-input" id="message-text">Dengue</textarea>
                        </div> -->
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Descrição</label>
                            <textarea class="form-control modal-text-input"
                            id="message-text">A coqueluche é uma doença que pode se parecer muito com a gripe comum, porém,
                             é facilmente identificada porque apresenta uma característica própria diferente: a tosse.</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Voltar</button>
                    <!-- <button type="button" class="btn btn-danger">Remover</button> -->
                    <button type="button" class="btn btn-success">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
