<div id="register">
    <div class="container h-custom">
        <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="h1">Cadastro de Novas Doenças</p>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="h7">Preencha manualmente os dados abaixo para cadastrar uma nova doença no sistema</p>
            </div>

            <!-- Name Of the Disease input -->
            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Digite o nome da doença" />
                <label class="form-label" for="form3Example3">Nome da Doença</label>
            </div>

            <!-- State input -->
            <div class="form-outline mb-3">
                <input type="text" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Digite o nome do estado" />
                <label class="form-label" for="form3Example4">Nome do Estado</label>
            </div>

            <!-- City input -->
            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Digite o nome da Cidade" />
                <label class="form-label" for="form3Example3">Nome da Cidade</label>
            </div>

            <!-- Number of Occurrences input -->
            <div class="form-outline mb-3">
                <input type="number" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Digite o número de ocorrências" />
                <label class="form-label" for="form3Example4">NNúmero de Ocorrências</label>
            </div>

            <!-- Description input -->
            <div class="form-outline mb-3">
                <input type="text" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Descreva os sintomas" />
                <label class="form-label" for="form3Example4">Descrição dos Sintomas</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Adicionar Doença</button>
            </div>

        </form>
    </div>
</div>