<body>
    <div class="bg-idqbrn" id="login">
        <div class="d-flex justify-content-center">
            <form>
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="h1">Entrar</p>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Entre com endereço de email" />
                    <label class="form-label" for="form3Example3">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="Digite uma senha" />
                    <label class="form-label" for="form3Example4">Senha</label>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                            Lembrar de mim
                        </label>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <a href="#!" class="text-body">Esqueceu a senha?</a>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button onclick="parent.location.href='index2.html'" type="button" type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Não tem uma conta? <a href="#!"
                            class="link-danger">Registre-se</a></p>
                </div>

            </form>
        </div>
    </div>
</body>