<div id="register">
    <div class="container h-custom">
        <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="h1">Registre-se</p>
            </div>

            <!-- Name input -->
            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Entre com o nome completo" />
                <label class="form-label" for="form3Example3">Nome Completo</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Entre com endereço de email" />
                <label class="form-label" for="form3Example3">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Digite uma senha" />
                <label class="form-label" for="form3Example4">Senha</label>
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Confirme sua senha" />
                <label class="form-label" for="form3Example4">Confirme a Senha</label>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Cadastrar</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Já tem uma conta? <a href="#!" class="link-danger">Login</a>
                </p>
            </div>

        </form>
    </div>
</div>