<div class="sidebar-header">
    <h4>IDQBRN</h4>
    <h5>Vigilância Epidemiológica</h5>
</div>

<ul class="list-unstyled components">
    <li class="active">
        <a href="#loginSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-sign-in-alt"></i> Área Restrita
        </a>
        <ul class="collapse list-unstyled" id="loginSubmenu">
            <li><a href="#" id="login"> Entrar</a></li>
            <li><a href="#" id="register"> Registrar</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fas fa-briefcase"></i> Sobre Nós</a></li>
    <li><a href="#"><i class="fas fa-phone"></i> Contato</a></li>
</ul>

<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $('#login').on('click', function () {
            $("#content").load("components/login.html");
        });
        $('#register').on('click', function () {
            $("#content").load("components/register.html");
        });
    });
</script>