@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/05/S%C3%ADmbolo_1Btl_DQBRN.jpg');
    background-repeat: no-repeat;
    background-position: 105% 105%;
    background-attachment: fixed;
    background-size: 50vh; */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(0, 0, 0);
}

a, a:hover, a:focus {
    color: #da0000;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.container-login{
    width: 100%;
    margin-top: 10px;
}

#content {
    margin-top: 30px;
    padding: 10px;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    margin-left: -300px;
    background: #f8f9fa;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #da0000;
    color: rgb(238, 238, 238);
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #da0000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #da0000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #da0000;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

.profile-image {
    display: inline-block;
    vertical-align: top;
    height: auto;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.map {
    height: 400px;
    width: 100%;
  }